<!DOCTYPE html>
<html>
<head>
    <title>PL Wiki speedrun</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container">
        <h1>Polish Wikipedia Speedrun Solver</h1>

        <div class="inputs">
            <div class="input-group">
                <input id="start" placeholder="Starting Article">
            </div>
            <button id="swap-btn" type="button" title="Swap start and end articles">⇄</button>
            <div class="input-group">
                <input id="end" placeholder="End Article">
            </div>
        </div>

        <button onclick="findShortestPath()">Find Shortest Path</button>

        <p id="result"></p>
    </div>
    <footer>
    <p>
        This project finds the shortest hyperlink path between two Polish Wikipedia articles.
        Check out the code on
        <a href="https://github.com/radekgersz/PL-wikipedia-solver" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>.
    </p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
