<!DOCTYPE html>
<html>
<head>
    <title>Flask Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Polish Wikipedia Speedrun Solver</h1>

        <div class="inputs">
            <div class="input-group">
                <input id="start" placeholder="Starting Article">
            </div>
            <div class="input-group">
                <input id="end" placeholder="End Article">
            </div>
        </div>

        <button onclick="findShortestPath()">Find Shortest Path</button>

        <p id="result"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
